Repository zimmra/OpenTakeoff: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

Update README.md
  README.md
Due: prettier --write

Fix failing tests and expand frontend test coverage
  apps/frontend/src/components/__tests__/ErrorBoundary.test.tsx
  apps/frontend/src/modules/canvas/hooks/__tests__/useKeyboardShortcuts.test.tsx
  apps/frontend/src/modules/counts/api/__tests__/countsApi.test.ts
  apps/frontend/src/modules/counts/services/__tests__/countEventsSocket.test.ts
  apps/frontend/src/modules/devices/state/__tests__/useDeviceVisibilityStore.test.ts
  apps/frontend/src/modules/devices/utils/__tests__/icon.test.ts
  apps/frontend/src/modules/exports/api/__tests__/exportsApi.test.ts
  apps/frontend/src/modules/history/state/__tests__/useHistoryStore.test.ts
  apps/frontend/src/utils/__tests__/colors.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

Improve backend test coverage and fix existing test bug
  apps/backend/src/routes/projects.test.ts
  apps/backend/src/services/data/countService.test.ts
  apps/backend/src/services/data/deviceService.test.ts
  apps/backend/src/services/data/historyService.test.ts
  apps/backend/src/services/data/locationService.test.ts
  apps/backend/src/services/data/stampService.test.ts
  apps/backend/src/utils/pagination.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

Add apps/backend/data/uploads/ to gitignore
  .gitignore
Due: none

Remove version specification for pnpm in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Add CI workflows for automatic failure fixes and Claude code execution
  .github/workflows/ci-failure-auto-fix.yml
  .github/workflows/claude.yml
Due: prettier --write

Add CLAUDE.md for project guidance and update .gitignore
  .gitignore
  CLAUDE.md
Due: prettier --write

Update CI workflow to simplify test command
  .github/workflows/ci.yml
Due: prettier --write

Refactor database migration and initialization functions
  apps/backend/src/db/client.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/modules/projects/pages/__tests__/TakeoffPage.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Add test.txt file and update project route test for link header format
  apps/backend/data/uploads/test-project-create/test.txt
  apps/backend/src/routes/projects.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

Add CI failure analysis and fix guidelines
  .claude/commands/fix-ci.md
Due: prettier --write

Remove test.txt file from uploads directory
  apps/backend/data/uploads/test-project-create/test.txt
Due: none

Update .gitignore to include uploads directory for backend data
  .gitignore
Due: none

Fix breadcrumb null check in App.tsx
  apps/frontend/src/App.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Fix lint errors in backend and frontend
  apps/backend/src/db/client.ts
  apps/frontend/src/App.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Fix unnecessary type assertion in api.ts
  apps/frontend/src/lib/api.ts
Due: eslint --fix --max-warnings 0, prettier --write

Fix runtime error in Breadcrumbs when route has no handle
  apps/frontend/src/App.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Fix breadcrumb TypeError with explicit type guard
  apps/frontend/src/App.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Add test for mixed routes with undefined handles
  apps/frontend/src/__tests__/routing.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Update CLAUDE.md with development commands and architecture docs
  CLAUDE.md
Due: prettier --write

Rework snap-to-grid with MDI icon and finer grid options
  apps/frontend/src/modules/stamps/components/StampToolbar.tsx
  apps/frontend/src/modules/stamps/state/useStampStore.ts
  apps/frontend/src/modules/stamps/utils/coordinates.ts
Due: eslint --fix --max-warnings 0, prettier --write

Update TypeScript build info
  apps/frontend/tsconfig.tsbuildinfo
Due: none

Add pnpm --filter flag examples for targeting specific packages
  CLAUDE.md
Due: prettier --write

ci: Enhance linting and commit hooks
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  apps/backend/.husky/commit-msg
  apps/backend/.husky/pre-commit
Due: prettier --write

feat: Implement migration consistency checks and database reset functionality
  .gitignore
  apps/backend/src/db/client.ts
  apps/backend/src/routes/projects.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update .gitignore and add commit message rules
  .cursor/rules/commit-messages.mdc
  .gitignore
Due: none

feat: relocate snap grid controls and add vitest workspace
  apps/frontend/src/modules/canvas/components/TakeoffCanvas.tsx
  apps/frontend/src/modules/canvas/components/Toolbar.tsx
  apps/frontend/src/modules/canvas/components/UIOverlays.tsx
  apps/frontend/src/modules/canvas/components/ZoomControls.tsx
  apps/frontend/src/modules/projects/components/__tests__/CreateProjectDialog.test.tsx
  apps/frontend/src/modules/projects/pages/__tests__/TakeoffPage.test.tsx
  apps/frontend/src/modules/stamps/components/SnapGridControls.tsx
  apps/frontend/src/modules/stamps/components/StampToolbar.tsx
  apps/frontend/src/modules/stamps/utils/coordinates.ts
  eslint.config.js
  vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add integration tests for plan routes
  apps/backend/src/routes/plans.test.ts
  apps/backend/src/routes/plans.ts
  apps/frontend/src/modules/projects/components/__tests__/CreateProjectDialog.test.tsx
  apps/frontend/src/modules/projects/pages/__tests__/TakeoffPage.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: Clean up code formatting and improve readability in plan routes and tests
  apps/backend/src/routes/plans.test.ts
  apps/backend/src/routes/plans.ts
  apps/frontend/src/modules/projects/components/__tests__/CreateProjectDialog.test.tsx
  apps/frontend/src/modules/projects/pages/__tests__/TakeoffPage.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

test: Remove stamp toolbar from TakeoffPage tests and update assertions
  apps/frontend/src/modules/projects/pages/__tests__/TakeoffPage.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: Update .gitignore to include additional build and upload directories
  .gitignore
Due: none

fix: Update default icon in IconPicker component
  apps/frontend/src/modules/devices/components/IconPicker.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: Set default icon for devices in DeviceFormModal
  apps/frontend/src/modules/devices/components/DeviceFormModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml})
